<div class="parent">
  <nav class=".responsive_nav">
    <ul>
      <img style="border-radius: 10%; float: left; margin-top: 5px; margin-left: 5px; margin-bottom: 5px;"
        src="../../../assets/images/final.jpg" alt="" height="80" width="100">
      <li><a href="#ON MY TIYO">ON MY TIYO</a></li>
      <li><a href="#TVSHOWS">TVSHOWS</a></li>
      <li><a href="#MOVIES">MOVIES</a></li>
      <li><a href="#FRIENDS">FRIENDS</a></li>
      <input type="search" id="search" placeholder="search" [(ngModel)]="searchTerm">
    </ul>

  </nav>
  <div>
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->

      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/images/love.jpg" alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/fight.jpg" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/emotion.jpg" alt="New York" width="1100" height="500">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </div>
  <div class="display">
    <div class="grid-container"
      *ngFor="let movie of mov| filter:searchTerm | paginate: { itemsPerPage: 4, currentPage: cp };trackBy:trackByfn">
      <div><a [routerLink]="['moviesdata/moviedash',movie.title]"> <img [src]="movie.posterurl" alt="" height="300"
            width="250">
        </a></div>
      <div> {{movie.title}}</div>
      <div> {{movie.year}}</div>
    </div>
  </div>


  <span class="text-center mt-3 bg-dark ">
    <pagination-controls class="bg-dark" (pageChange)="cp = $event"></pagination-controls>
  </span>
</div>
<router-outlet></router-outlet>