h1 {
    font-size: medium;
    color: black;
    font-weight: bolder;

}

.responsive {
    overflow: hidden;

}

body {
    /* background-image: url(../../../../assets/images/bacground.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

span {
    color: purple;

}

h2 {
    text-align: left;
    font-weight: 900;
    color: red;
}

button {
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}